.collection-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('images/data_collections.png');
}