.error-wrapper[b-29v296erf9] {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

h1:focus[b-29v296erf9] {
    outline: none;
}

.error-box[b-29v296erf9] {
    width: 28rem;
    padding: 1.875rem;
    border: 1px solid #212529;
    background-color: #f8f9fa;
    text-align: center;
}

.error-box h1[b-29v296erf9] {
    font-size: 2rem;
    margin-bottom: 10px;
}

.error-box p[b-29v296erf9] {
    font-size: 1.25rem;
    margin-bottom: 10px;
    word-break: break-all;
}

.error-button[b-29v296erf9] {
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0;
    font-size: 1.5rem;
}

.error-header[b-29v296erf9] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
    gap: 1rem;
}

.error-header h1[b-29v296erf9] {
    margin: 0;
    line-height: 1.2;
}

.error-icon[b-29v296erf9] {
    width: 3rem;
    height: 3rem;
    background: url('images/error.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}