.info-row[b-7tyn5p8k2g] {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.info-icon[b-7tyn5p8k2g] {
    width: 1.75rem;
    height: 1.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.info-text[b-7tyn5p8k2g] {
    display: block;
    white-space: normal;
    overflow-wrap: anywhere;
    line-height: 1.4rem;
}