.top-nav[b-nxvre7r3i3] {
    padding: 12px 20px;
}

#mode[b-nxvre7r3i3] {
    width: 5rem;
    min-width: 2.5rem;
    aspect-ratio: 1/1;
    border: 1px solid #212529;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#mode:focus[b-nxvre7r3i3] {
    z-index: 3;
    position: relative;
}

.layout-root [b-nxvre7r3i3]::selection {
    background: transparent;
    color: inherit;
}

body[b-nxvre7r3i3] {
    overflow: hidden;
}

body .layout-root[b-nxvre7r3i3] {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    user-select: none;
}